name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  pages: write
  actions: read
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Copy src to root
        run: |
          mkdir public
          cp -r src/* public/

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          folder: public
